
.login {
    position: fixed;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    max-width: 320px;
}

.logo {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    margin-bottom: 16px;
}