
<div class="container">
  <div class="row">
    <div class="col-md-3 col-lg-3 side">
    </div>
    <div class="col-md-6 col-lg-6 main">
      <div class="actions">
        <a routerLink="/new"><button class="btn btn-primary">Post new</button></a>
      </div>
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/">New</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Popular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Saved</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div *ngFor="let course of courses$ | async | reverse" class="post">
            <small><a routerLink="/">{{ course.payload.val().category }}</a></small>
            <h6>{{ course.payload.val().title }}</h6>
            <p>{{ course.payload.val().content }}</p>
            <button type="button" class="btn btn-outline-secondary btn-sm">Upvote | 4</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 side">
    </div>
  </div>
</div>